@import url("https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-kaisei-decol: "Kaisei Decol";

  /* font sizes */
  --font-size-13xl: 32px;
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-xl: 20px;

  /* Colors */
  --color-salmon: #ff7a7a;
  --color-black: #000;
  --color-white: #fff;

  /* Paddings */
  --padding-2xl: 21px;
}
